:root {
  /* Base: International Orange #FF4F00 */
  --ifm-color-primary: #ff4f00;
  --ifm-color-primary-dark: #e64700;
  --ifm-color-primary-darker: #d94300;
  --ifm-color-primary-darkest: #b33700;
  --ifm-color-primary-light: #ff611a;
  --ifm-color-primary-lighter: #ff6a26;
  --ifm-color-primary-lightest: #ff7d40;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 79, 0, 0.1); /* Orange tint */
  
  /* Standard White Background for Light Mode */
  --ifm-background-color: #ffffff;
  --ifm-font-color-base: #1c1e21; /* Softer black for better readability */
}

/* Dark Mode */
[data-theme='dark'] {
  /* In dark mode, we keep the same orange, or slightly lighten it 
     if you find it vibrates too much against the black. 
     These values are currently identical to root.
  */
  --ifm-color-primary: #ff4f00;
  --ifm-color-primary-dark: #e64700;
  --ifm-color-primary-darker: #d94300;
  --ifm-color-primary-darkest: #b33700;
  --ifm-color-primary-light: #ff611a;
  --ifm-color-primary-lighter: #ff6a26;
  --ifm-color-primary-lightest: #ff7d40;

  --docusaurus-highlighted-code-line-bg: rgba(255, 79, 0, 0.2);

  /* Using a "Space Gray" background (#1b1b1d) usually looks 
     more premium with Orange than pure black (#000000), 
     but you can revert to #000000 if you prefer OLED black.
  */
  --ifm-background-color: #1b1b1d; 
  --ifm-font-color-base: #e3e3e3;
}